<%= link_to("<< Back to List", users_path, :class => 'back-link') %>

<div class="subjects show">
  <h2>Show User</h2>

  <table summary="Subject detail view">
    <tr>
      <th>ID</th>
      <td><%= @user.id %></td>
    </tr>
    <tr>
      <th>FirstName</th>
      <td><%= @user.first_name %></td>
    </tr>
    <tr>
      <th>LastName</th>
      <td><%= @user.last_name %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @user.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @user.updated_at %></td>
    </tr>
  </table>

</div>
